/* Styling */

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.main_box {
    background-image: url("photo.jpg");
    height: 100vh; /* viewport height*/ 
    background-size: cover;
}

.btn_one i {
    position: absolute;
    top: 10px;
    left: 8px;
    color: white;
    font-size: 30px;
    font-weight: 700;
    padding: 8px;
    border-radius: 5px;
    line-height: 30px;
    cursor: pointer;
}

.sidebar_menu {
    position: fixed;
    left: -100%;
    width: 30vh;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    transition: all 0.3s linear;
}


.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .logo a {
    position: absolute;
    left: 25%;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    font-weight: 700;
}

.sidebar_menu .btn_two i {
    color: grey;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: -10px;
    left: 360px;
    line-height: 60px;
    cursor: pointer;
    /* opacity: 0; */
}

.sidebar_menu .menu {
    position: absolute;
    width: 100%;
    top: 80px;
}

.sidebar_menu .menu li {
    margin-top: 6px;
    padding: 14px 20px;
}

.sidebar_menu .menu i,a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sidebar_menu .menu i {
    padding-right: 8px;
}

.sidebar_menu .social_media {
    position: absolute;
    bottom: 80px;
    left: 25%;
}

.sidebar_menu .social_media i {
    color: white;
    opacity: 0.5;
    padding: 0 5px;
}

.sidebar_menu .menu li:hover {
    box-shadow: 0 0 4px rgba(255, 255, 255);
    font-weight: 900;
}

.sidebar_menu .social_media i:hover {
    transform: scale(1.1);
    opacity: 1;
}

.sidebar_menu .btn_two i:hover {
    font-size: 23px;
}

.btn_one i:hover {
    box-shadow: 0 0 4px rgb(255, 255, 255);
}

#check {
    display: none;
}

#check:checked ~ .sidebar_menu {
    left: 0;
}

#check:checked + .btn_one i {
    opacity: 0;
}

/* Media Queries */
@media (max-width:2300px) {
    .main_box {
        background-image: url("photo.jpg");
        height: 100vh; /* viewport height*/ 
        background-size: 100% 100%;
    }
}

@media (max-width: 768px) {
    .sidebar_menu .logo {
        position: absolute;
        width: 100%;
        height: 60px;
        line-height: 60px;
        box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    }
    
    .sidebar_menu .logo a {
        position: absolute;
        left: 20%;
        text-decoration: none;
        color:rgb(255, 255, 255);
        font-family: 'Satisfy', cursive;
        font-size: 1.2rem;
        font-weight: 700;
    }
    
    .sidebar_menu .btn_two i {
        color: grey;
        font-size: 1.2rem;
        font-weight: 700;
        position: absolute;
        left: 90%;
        line-height: 60px;
        cursor: pointer;
        /* opacity: 0; */
    }

    .sidebar_menu .menu i,a {
        color: white;
        text-decoration: none;
        font-size: 0.8rem;
    }
    
}

@media (max-height: 900px) {
    .sidebar_menu .logo {
        position: absolute;
        width: 100%;
        height: 60px;
        line-height: 60px;
        box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    }
    
    .sidebar_menu .logo a {
        position: absolute;
        left: 20%;
        text-decoration: none;
        color:rgb(255, 255, 255);
        font-family: 'Satisfy', cursive;
        font-size: 1.2rem;
        font-weight: 700;
    }
    
    .sidebar_menu .btn_two i {
        color: grey;
        font-size: 1.2rem;
        font-weight: 700;
        position: absolute;
        left: 90%;
        line-height: 60px;
        cursor: pointer;
        /* opacity: 0; */
    }

    .sidebar_menu .menu i,a {
        color: white;
        text-decoration: none;
        font-size: 0.8rem;
    }

    .sidebar_menu .social_media {
        position: absolute;
        bottom: 5%;
        left: 25%;
    }
    
}
